*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar{
    width: 100%;
    height: 92px;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.nav-content{
    font-size: 1.4rem;
    font-weight: 800;
    color: #FFFFFF;
}

.nav-content .color{
    color: rgba(251, 9, 180, 1);
}

.nav-menu ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 100px;
}

.nav-menu a{
    font-size: 1rem;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.navbar .nav-menu li{
    list-style: none;
}

.btn{
    background: linear-gradient(
    90deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
    border: none;
    border-radius: 41px;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    width: 135px;
    height: 40px;
    text-align: center;
}

.btn:hover{
    color: green;
}

/* Style Banner Section */

#banner{
    width: 100%;
    height: 760px;
    max-width: 1600px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 50px;
}

.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 20px;
}

.banner-container{
    text-align: center;
    padding-top: 101px;
    margin: 0 auto;
}

#banner .banner-container .banner-image{
    background: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 82px;
}

.banner-container .btn1{
    background: linear-gradient(
    90deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
    border: none;
    border-radius: 41px;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    width: 180px;
    height: 40px;
    text-align: center;
}

.btn1:hover{
    color: green;
}

.banner-container .btn2{
    border: 2px solid #00FF88;
    border-radius: 41px;
    background: none;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
    width: 135px;
    height: 38px;
    text-align: center;
}

.btn2:hover{
    color:white;
}

.btn3{
    border: none;
    border-radius: 41px;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    cursor: pointer;
    width: 70px;
    height: 35px;
    text-align: center;
}

.btn3:hover{
    background-color: tomato;
}

.new{
    margin-left: 330px;
}


