*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Style Navbar section */

.navbar{
    width: 100%;
    height: 92px;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
}

.nav-content{
    font-size: 1.4rem;
    font-weight: 800;
    color: #FFFFFF;
}

.color{
    color: rgba(251, 9, 180, 1);
}

.nav-menu ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 100px;
}

.nav-menu a{
    font-size: 1rem;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.navbar .nav-menu li{
    list-style: none;
}

.btn{
    background: linear-gradient(
    90deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
    border: none;
    border-radius: 41px;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    width: 135px;
    height: 40px;
    text-align: center;
}

.btn:hover{
    color: green;
}

/* Style Banner Section */

#banner{
    width: 100%;
    height: 760px;
    max-width: 1600px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 50px;
}

.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #CFC6E3;
    margin-top: 8px;
    margin-bottom: 20px;
}

.banner-container{
    text-align: center;
    padding-top: 101px;
    margin: 0 auto;
}

#banner .banner-container .banner-image{
    background: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 82px;
}

.banner-container .btn1{
    background: linear-gradient(
    90deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
    border: none;
    border-radius: 41px;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    width: 180px;
    height: 40px;
    text-align: center;
}

.btn1:hover{
    color: green;
}

.banner-container .btn2{
    border: 2px solid #00FF88;
    border-radius: 41px;
    background: none;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
    width: 135px;
    height: 38px;
    text-align: center;
}

.btn2:hover{
    color:white;
}

.btn3{
    border: none;
    border-radius: 41px;
    padding:0 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    cursor: pointer;
    width: 70px;
    height: 35px;
    text-align: center;
}

.btn3:hover{
    background-color: tomato;
}

.new{
    margin-left: 330px;
}

/* Style About Section */

#about{
    width: 100%;
    height: 550px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    text-align: center;
}

.about-content{
    padding-bottom: 70px;
}

.about-content h2{
    font-size: 2.75rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 50px;
    margin-bottom: 20px;
}

.about-content p{
    font-size: 1rem;
    line-height: 20px;
    color: #CFC6E3;
    margin:8px;
}

.about-item .box h2{
    font-size: 2.75rem;
    font-weight: 700;
    color: #00FF88;
}

.about-item .box p{
    font-size: 1rem;
    line-height: 20px;
    color: #CFC6E3;
    margin-top: 16px;
}

.about-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
    margin: 0 auto;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    padding-top: 60px;
}

/* Style Why Choose Section */

#choose{
    width: 100%;
    height: 1050px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
    text-align: center;
}

.choose-header h2{
    font-size: 2.75rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 70px;
    margin-bottom: 40px;
}

.choose-container p{
    font-size: 0.8rem;
    line-height: 24px;
    color: #CFC6E3;
}

.choose-container h4{
    font-size: 1.2rem;
    font-weight: 700;
    color:#FFFFFF;
}


.choose-container{
    width: 1200px;
    height: 780px;
    margin: 0 auto;
}

#box1{
    padding-top: 100px;
    align-items: center;
}


.choose-container>*{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
    text-align: left;
}

#box1{
    grid-area: box1;
}
#box2{
    grid-area: box2;
}
#box3{
    grid-area: box3;
}
#box4{
    grid-area: box4;
}
#box5{
    grid-area: box5;
}

.choose-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "box1 box2 box2 box2"
    "box1 box3 box3 box3"
    "box4 box4 box4 box5";
}

/* Style Feature Episode Section */

#feature-episode{
    width: 100%;
    height: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding-top: 100px;
    text-align: center;
}

.episode h2{
    font-size: 2.75rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.episode .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    /* border: 2px solid red; */
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 10px;
    height: 440px;
    text-align: left;
}

.card iframe{
    width: 380px;
    height: 215px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h4{
    font-size: 1.2rem;
    font-weight: 700;
    color:#FFFFFF;
    padding: 24px;
}

.card p{
    font-size: 0.8rem;
    line-height: 24px;
    color: #CFC6E3;
    padding: 0px 24px 24px 24px;
}

.card h5{
    font-size: 0.9rem;
    line-height: 24px;
    color: #00FF88;
    padding-left: 24px;
}

/* Style Meet The Host section */

.meet{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.meet-header h2{
    font-size: 2.75rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 40px;
}

.meet-content{
    text-align: left;
    padding-left: 30px;
}

.meet-content h4{
    font-size: 1.5rem;
    font-weight: 700;
    color:#FFFFFF;
    margin-bottom: 20px;
    margin-top: 15px;
}

.meet-content p{
    font-size: 0.8rem;
    line-height: 24px;
    color: #CFC6E3;
    margin-bottom: 20px;
}

.meet-content .icon ul{
    display: flex;
    justify-content:space-between;
    width: 150px;
}

.icon li{
    list-style: none;
}

/* Style Footer section */

footer{
    width: 100%;
    height: 350px;
    max-width: 1600px;
    margin: 0 auto;
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-container{
    text-align: center;
}

.footer-content{
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    padding-top: 84px;
}

.footer-logo ul{
    display: flex;
    justify-content:center;
    gap: 35px;
    margin-top: 10px;
}

.footer-logo li{
    list-style: none;
}

.footer-logo a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 24px;
    color: #CFC6E3;
}

.footer-container p{
    font-size: 0.8rem;
    line-height: 24px;
    color: #CFC6E3;
    margin-top: 10px;
}

