*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar{
    width: 100%;
    height: 92px;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    background-color: #1A0B2E;
}

.nav-content{
    font-size: 1.4rem;
    font-weight: 800;
    color: #FFFFFF;
}

.nav-content .color{
    color: rgba(251, 9, 180, 1);
}

.nav-menu ul{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 100px;
}

.nav-menu a{
    font-size: 1rem;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.navbar .nav-menu li{
    list-style: none;
}

.btn{
    background: linear-gradient(
    90deg,
    rgb(247, 233, 63),
    rgb(251, 9, 180),
    rgb(145, 0, 248)
  );
    border: 2px solid white;
    /* border: none; */
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    width: 135px;
    height: 40px;
    text-align: center;
}

.btn:hover{
    color: green;
}